# macOS
.DS_Store

# Xcode - User settings
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Xcode - Build
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (se mai usati)
Pods/
Carthage/Build/

# Accessibility / fastlane / misc
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
